
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    <h3>@item.Id</h3>
    <br />
    <h3>@item.UserId</h3>
    <br />
    <h3>@item.Address</h3>
    <br />
    <h3>@item.CompleteDateTime</h3>
    <br />
}
