body{
    padding-top: 0 !important;
    min-height: 435px;
}
.block-content{
    background: url("main_bg.jpg") fixed center;
    /*/min-height: 530px;*/
    min-height: 90vh;
    height: auto;
    background-size: 100%;
    padding-bottom: 30px;
}
.block-order{
    background: url("order_bg.jpg") fixed center;
    /*/min-height: 530px;*/
    min-height: 90vh;
    height: auto;
    background-size: 100%;
    color: purple !important;
    padding-bottom: 30px;
}

h3, h5{
    margin-top: 0;
}
footer{
    margin-top: 0 !important;
}
#welcome-block{
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 0 4px purple;
    padding-top: 15%;
}
#about-block{
    color: whitesmoke;
    text-shadow: 0 0 4px purple;
    text-align: center;
    padding-top: 10%;
    
}
#signin-block{
    color: whitesmoke;
    text-shadow: 0 0 2px purple;
    text-align: center;
    padding-top: 15%;
}
label{
    font-size: 14px !important;
    font-weight: bold;
    color: white !important;
}
#signup-block{
    color: whitesmoke;
    text-shadow: 0 0 2px purple;
    text-align: center;
    padding-top: 10%;
}
#create-block{
    color: purple !important;
    text-shadow: 0 0 2px whitesmoke;
    text-align: center;
    padding-top: 3%;
}
#create-block label{
    color: purple !important;

}
.dev-list{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 0 0 4px purple;
}
.order-view {
    height: auto;
    background-size: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
}

.order-view-link {
    color: purple !important;
}

.chat-heading {
    background-color: whitesmoke;
    border-color: purple;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
}



.chat-body {
    overflow-y:auto;
    min-height: 250px;
    max-height: 300px;
    padding: 15px;
}
.chat-panel {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.msg-list {
    border: 0px !important;
}
.chat-footer {
    margin: 20px;
    margin-top: 0px;
}

.msg-name {
    font-weight: bold;
    color: purple;
}
.msg-time{
    color: hsla(220,8%,51%,.6);
    font-size: 12px;
    margin-left: 4px;
    line-height: 1.4;
}
.msg-txt {
     display: block;
}
.tabs{
    background-color: transparent !important;
    color: mediumpurple !important;
}

.info-block{
    padding-top: 30px;
}
#info{
    font-size: 18px;
    padding-top: 70px;
}

#edit{
    padding-top: 70px;
}
#edit label{
    color: purple !important;

}
