@{
    ViewBag.Title = "Contact";
}
<div class="block-content">
    <div id="about-block">
        <h3>Our Developers</h3>

        <ul class="dev-list">
            <li><a class="grey-text text-lighten-3" href="#!">Vladislav Biletskyi</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Ihor Biletskyi</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Alexandra Mirontseva</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Tatiana Chursina</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Oleh Strona</a></li>
        </ul>

    </div>
    <!--надо че-то еще добавить, потом придумаем-->
</div>