@model Let_s_Eat_Bee_Project.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<br />
@{ 
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
        <div class="row">
            <div class="col m4"></div>
            <div class="col m4">
                <h4>...Or sign up with:</h4>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" id="@p.AuthenticationType" class="btn waves-effect" name="provider" value="@p.AuthenticationType" title="Sign up with @p.Caption account">@p.AuthenticationType</button>
                }
            </div>
            <div class="col m4"></div>
        </div>
        }
    
}
