
@{
    ViewBag.Title = "SignUp";
}

<div class="block-content">
    <div class="container">
        <div id="signup-block">
            <h3>Join us</h3>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="organization" type="text" class="validate" required>
                            <label for="organization">Organization</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="password" type="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="password2" type="password" class="validate" required>
                            <label for="password2">Confirm password</label>
                        </div>
                    </div>
                    <center><button type="submit" class="waves-effect waves-light btn #4a148c purple darken-3">Sign up</button></center>
                </form>
            </div>
        </div>
    </div>
</div>
<!--КОНЕЦ ЦЕНТРАЛЬНОГО БЛОКА-->
