@{
    ViewBag.Title = "Contact";
}
<div style="background-color:purple">
    <h5 class="white-text">Our Developers</h5>
    <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Vladislav Biletskyi</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Ihor Biletskyi</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Alexandra Mirontseva</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Tatiana Chursina</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Oleh Strona</a></li>
    </ul>
    <!--надо че-то еще добавить, потом придумаем-->
</div>